/* 基础样式 */
body,
html {
    line-height: 1;
    font-family: 'NBEHDT', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
    -webkit-tap-highlight-color: transparent;
    color: $cl-theme;
    background: $bg-theme;
}

* {
    box-sizing: border-box;
}

::placeholder {
    color: #777;
}

/* 全局类名 */
.g-relative {
    position: relative;
}

.shadow-box {
    user-select: none;
    box-shadow: 0 2px 30px -4px rgba($color: #4f4f4f, $alpha: 0.8);
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 5px 10px 5px rgba($color: #000000, $alpha: 0.5);
    }
}

/* 过渡效果 */
.slide-down-enter-active,
.slide-down-leave-active,
.slide-up-enter-active,
.slide-up-leave-active {
    position: absolute;
    transition: all 0.7s;
}

.slide-down-enter,
.slide-up-leave-to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
}

.slide-up-enter,
.slide-down-leave-to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
}
