body,
html {
    line-height: 1;
    font-family: 'NBEHDT', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
    -webkit-tap-highlight-color: transparent;
    color: $cl-theme;
    background: $bg-theme;
}

* {
    box-sizing: border-box;
}

::placeholder {
    color: #777;
}

.g-relative {
    position: relative;
}

.shadow-box {
    user-select: none;
    box-shadow: 0 1px 20px -6px rgba($color: #4f4f4f, $alpha: 0.7);
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 5px 10px 5px rgba($color: #000000, $alpha: 0.5);
    }
}
