body,
html {
    line-height: 1;
    font-family: 'NBEHDT', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
    -webkit-tap-highlight-color: transparent;
    color: $cl-theme;
    background: $bg-theme;
}

* {
    box-sizing: border-box;
}

::placeholder {
    color: $cl-text-l;
}

.g-relative {
    position: relative;
}

.overlay {
    @include full-fixed();

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $bg-theme-d;
    }
}
