/* 基础样式 */
body,
html {
    line-height: 1;
    font-family: 'NBEHDT', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
    -webkit-tap-highlight-color: transparent;
    color: $cl-light-1;
    background-color: $cl-dark-1;
}

* {
    box-sizing: border-box;
}

input::placeholder {
    color: $cl-gray-7;
}
