/* 基础样式 */
body,
html {
    line-height: 1;
    font-family: 'NBEHDT', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
    font-size: $fz-md;
    color: $cl-light-1;
    background-color: $cl-dark-1;
    -webkit-tap-highlight-color: transparent;
}

* {
    box-sizing: border-box;
}

input::placeholder {
    color: $cl-gray-7;
}

/* 图标颜色样式 */
[data-icon='calendar-days'] {
    color: $cl-lightblue;
}

[data-icon='fire'] {
    color: $cl-red;
}

[data-icon='comment'] {
    color: $cl-skyblue;
}

[data-icon='thumbs-up'] {
    color: $cl-orangered-l;
}

[data-icon='folder-open'] {
    color: $cl-yellow-l;
}

[data-icon='tag'] {
    color: $cl-purple;
}
