@font-face {
    font-family: 'NBEHDT';
    src: url(../fonts/NBEHDT.woff2) format('woff2'), url(../fonts/NBEHDT.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
