.markdown-body {
    @include bg-color(bg-theme);
    transition: background-color 0.5s ease-in-out;
}

.markdown-body * {
    user-select: text;
}

.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body dt,
.markdown-body li {
    list-style: initial;
    list-style-type: initial;
}

.markdown-body img {
    cursor: pointer;
}

.markdown-body pre.code-wrapper {
    position: relative;
    margin-bottom: 30px;
    padding: 30px 0 0 0;
    border-radius: 4px;
    background-color: #1c1d1f;
    box-shadow: 0 4px 30px 6px rgba(0, 0, 0, 0.4);

    &::before {
        content: '';
        z-index: 2;
        position: absolute;
        left: 12px;
        width: 12px;
        height: 12px;
        margin-top: -24px;
        background-color: #fc625d;
        border-radius: 50%;
        box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    }
}

.markdown-body pre.code-wrapper code {
    padding: 16px 24px;
    line-height: 24px;
    font-size: 16px;

    &::before {
        content: attr(data-language);
        z-index: 1;
        position: absolute;
        left: 0;
        width: 100%;
        height: 30px;
        line-height: 26px;
        margin-top: -46px;
        text-align: center;
        font-family: 'Ubuntu';
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
        background-color: #24282f;
    }
}
