div#waifu {
    left: 20px;
}

#waifu #waifu-tips {
    color: #fff;
}

#waifu #waifu-tool {
    top: unset;
    bottom: 30px;
}

#waifu #waifu-tool svg {
    fill: #a3a0a0;
}

#waifu #waifu-tool svg:hover {
    fill: #379ef1;
}
