@import 'theme.scss';

/* 元素占满全屏 */
@mixin fullscreen() {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* 单行省略 */
@mixin nowrap() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 多行省略 */
@mixin nowrap-multiple($line) {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
}

/* 清除浮动 */
@mixin clearfix() {
    &::before,
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

/* 图片遮罩层 */
@mixin image-mask($pos: relative) {
    position: $pos;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $cl-dark-3, $alpha: 0.3);
    }
}

/* 根据key来获取主题颜色 */
@function themed($key) {
    @return map-get($theme-map, $key);
}

/* 遍历主题 */
@mixin theme-map {
    @each $theme-name, $theme-map in $themes {
        /* 提升变量, 使themed函数能够访问到数据 */
        $theme-map: $theme-map !global;
        [color-scheme='#{$theme-name}'] & {
            @content;
        }
    }
}

/* 获取背景主题色 */
@mixin bg-color($color, $alpha: 1) {
    @include theme-map {
        background-color: rgba($color: themed($color), $alpha: $alpha);
    }
}

/* 获取字体主题颜色 */
@mixin text-color($color, $alpha: 1) {
    @include theme-map {
        color: rgba($color: themed($color), $alpha: $alpha);
    }
}

/* 获取边框主题颜色 */
@mixin border-color($color, $alpha: 1) {
    @include theme-map {
        border-color: rgba($color: themed($color), $alpha: $alpha);
    }
}

/* 获取填充主题颜色 */
@mixin fill-color($color, $alpha: 1) {
    @include theme-map {
        fill: rgba($color: themed($color), $alpha: $alpha);
    }
}

/* 获取填充主题颜色 */
@mixin shadow-color($color, $alpha: 1, $hover-color, $hover-alpha: 1) {
    @include theme-map {
        box-shadow: 0 2px 30px -4px rgba($color: themed($color), $alpha: $alpha);

        &:hover {
            box-shadow: 0 5px 10px 5px rgba($color: themed($hover-color), $alpha: $hover-alpha);
        }
    }
}
