@mixin full-fixed() {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@mixin bg-image($url, $repeat: no-repeat, $position: center, $size: cover) {
    background-repeat: $repeat;
    background-image: url($url);
    background-position: $position;
    background-size: $size;
}

@mixin nowrap() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin nowrap-multiple($line) {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
}

@mixin clearfix() {
    &::before,
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}
