/* 颜色变量 */
$cl-light-1: rgb(241, 241, 241);
$cl-light-2: rgb(234, 234, 234);
$cl-light-3: rgb(237, 237, 237);
$cl-light-4: rgb(230, 230, 230);
$cl-light-5: rgb(223, 223, 223);
$cl-light-6: rgb(216, 216, 216);
$cl-light-7: rgb(209, 209, 209);

$cl-gray-1: rgb(193, 193, 193);
$cl-gray-2: rgb(186, 186, 186);
$cl-gray-3: rgb(179, 179, 179);
$cl-gray-4: rgb(172, 172, 172);
$cl-gray-5: rgb(165, 165, 165);
$cl-gray-6: rgb(158, 158, 158);
$cl-gray-7: rgb(151, 151, 151);

$cl-dark-1: rgb(65, 66, 67);
$cl-dark-2: rgb(58, 59, 60);
$cl-dark-3: rgb(51, 52, 53);
$cl-dark-4: rgb(44, 45, 46);
$cl-dark-5: rgb(37, 38, 39);
$cl-dark-6: rgb(30, 31, 32);
$cl-dark-7: rgb(23, 24, 25);

/* 字体大小 */
$fz-small-s: 12px;
$fz-small: 14px;
$fz-medium: 16px;
$fz-medium-x: 18px;
$fz-large: 22px;
$fz-large-x: 24px;

/* 行高 */
$lh-small-s: 20px;
$lh-small: 22px;
$lh-medium: 24px;
$lh-medium-x: 26px;
$lh-large: 30px;
$lh-large-x: 32px;
