/* 颜色变量 */
$cl-light-1: rgb(241, 241, 241);
$cl-light-2: rgb(236, 236, 236);
$cl-light-3: rgb(231, 231, 231);
$cl-light-4: rgb(226, 226, 226);
$cl-light-5: rgb(221, 221, 221);
$cl-light-6: rgb(216, 216, 216);
$cl-light-7: rgb(211, 211, 211);

$cl-gray-1: rgb(193, 193, 193);
$cl-gray-2: rgb(188, 188, 188);
$cl-gray-3: rgb(183, 183, 183);
$cl-gray-4: rgb(178, 178, 178);
$cl-gray-5: rgb(173, 173, 173);
$cl-gray-6: rgb(168, 168, 168);
$cl-gray-7: rgb(163, 163, 163);

$cl-dark-1: rgb(51, 54, 57);
$cl-dark-2: rgb(46, 49, 52);
$cl-dark-3: rgb(41, 44, 47);
$cl-dark-4: rgb(36, 39, 42);
$cl-dark-5: rgb(31, 34, 37);
$cl-dark-6: rgb(26, 29, 32);
$cl-dark-7: rgb(21, 24, 27);

/* 字体大小 */
$fz-small-s: 12px;
$fz-small: 14px;
$fz-medium: 16px;
$fz-medium-x: 18px;
$fz-large: 22px;
$fz-large-x: 24px;

/* 行高 */
$lh-small-s: 20px;
$lh-small: 22px;
$lh-medium: 24px;
$lh-medium-x: 26px;
$lh-large: 30px;
$lh-large-x: 32px;
